{
	"presets": [
		[
			"@babel/preset-typescript",
			{
				"isTsx": true,
				"allowDeclareFields": true
			}
		],
		[
			"@babel/preset-react",
			{
				"development": false
			}
		],
		[
			"@babel/preset-env",
			{
				"modules": "commonjs"
			}
		]
	],
	"plugins": [
		[
			"module-resolver", 
			{
				"root": [ "./dist" ],
				"alias": {
					"@components": "./dist/components",
					"@contexts": "./dist/contexts",
					"@lib":"./dist/lib"
				}
			}
		]
	]
}
